html{
background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(255,255,255,1) 100%);
background-repeat: no-repeat;
height: 100%;
}


#form-login {
    text-align: center;
    margin-top: 5%;
}

input[type="submit"] {
    width: 180px;
    padding: 5px 0px 5px 0px;
    font-size: 18pt;
    cursor: pointer;
}

.fields {
    width: 200px;
    font-family: impact;
    font-size: 16pt;
    border-radius: 10px;
    padding: 5px;
    color: blue;
    box-shadow: 3px 3px 3px black;
}

#form-center {
    width: 300px;
    /*background-color: green;*/
    text-align: left;
    display: block;
    margin: auto;
    padding: 50px;
    box-shadow: -15px 15px 15px black;
    background-color: white;
    border-radius: 10px;
}

.input-center {
    width: 98%;
    border-radius: 5px;
    font-size: 16pt;
}

#submit-cadastro {
    width: 80%;
    margin: auto;
    display: block;
}

.botaocadastro{
    margin-left: 500px;
     border-radius: 10px;   
    
}

.botaol{
    border-radius: 10px;
}